.container {
    background-color: #EEEEEE;
    margin: 0;
}
.title {
    font-size: 40px;
    font-weight: 500;
    padding: 20px 0;
    text-align: center;
    font-family: sans-serif;
}
.line {
    stroke: blueviolet;
    fill: none;
    stroke-linejoin: round;
    stroke-width: 5px;
    stroke-linecap: round;
}
.chart {
    max-width: 760px;
    margin: 0 auto;
}
.timeline {
    background: lightcyan;
    border: thin solid darkcyan;
    display: block;
    margin: 0 auto;
    max-height: 200px;
}

.tick line {
    stroke: black;
}

.axis line,
.axis path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.point {
    stroke: blueviolet;
    fill: rgba(33, 33, 33, .1);
}

.hover {
    stroke: blueviolet;
    fill: rgba(66, 66, 66, .3);
    opacity: 1;
    transition: opacity .65s ease-out;
}
.hover--off {
    opacity: 0
}
